.ChartWidget .nav-link{
    color: rgb(184, 184, 184) !important
}

.ChartWidget .nav-link:hover{
    color: rgb(141, 141, 141) !important
}

.ChartWidget .nav-link.active {
    color: rgb(34, 34, 34) !important
}